apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - pvc.yaml
  - service.yaml
  - ingress.yaml
  - hpa.yaml
  - network-policy.yaml

secretGenerator:
  - name: online-editer-secret
    type: kubernetes.io/tls
    files:
      - tls.crt=secrets/tls.crt
      - tls.key=secrets/tls.key
